@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap";

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    --bg-body: #ff7a7a;
    --color-green: #38cc8c;
    --color-blue: #6055a5;
    --color-dark-blue: #3e3c49;
    --color-white: #fff;
    --color-yellow: #f1dc1c;
}

body {
    background-image: url("../assets/bg-intro-desktop.png");
    background-color: var(--bg-body);
    font-family: Poppins;
}

#wrapper {
    margin: 0 auto;
    text-align:  center;
}

.info {
    margin: 8vh auto;
}

.info h2 {
    margin: 0 auto;
    width: 300px;

    color: var(--color-white);
}

.info p {
    padding: 1.2rem;
    color: var(--color-white);
}

.form-info {
    padding: 0 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-info span {
    margin-bottom: 1.6rem;
    padding: 24px;
    background-color: var(--color-blue);
    color: var(--color-white);

    border-radius: 12px;
    box-shadow: 0 8px #00000033;
}

form {
    background-color: var(--color-white);
    border-radius: 12px;
    box-shadow: 0 8px #00000033;
    padding: 24px;
    margin-bottom: 2rem;
}

form input {
    width: 100%;
    padding: 1.4rem;
    margin-top: 1rem;
    
    border: 1px solid #bbb5b5;
    border-radius: 7px;

    font-family: Poppins;
    font-weight: 700;
}

form button {
    width: 100%;
    margin-top: 1rem;
    padding: 20px;
    
    font-weight: 500;
    background-color: var(--color-green);
    color: var(--color-white);
    
    border-radius: 7px;
    box-shadow: 0 4px #269464;
    
    cursor: pointer;
}

form button:hover{
    background-color: #269464;
    box-shadow: none;

    transition: .4s;
}

form p {
    width: 100%;
    margin-top: 15px;
    
    font-size: 12px;
    font-weight: 600;
    
    color: #bbb5b5;
}

form p a {
    color: var(--bg-body);
    text-decoration: none;
    font-weight: 700;
    
}

.error {
    background-image: url("../assets/icon-error.svg");
    background-repeat: no-repeat;
    background-position: 98% center;
}