@media(min-width:500px) {
.info {
    max-width: 500px;
}

    .info h2 {
        font-size: 2rem;
    }

    .info p {
        font-size: 1.1rem;
    }

    .form-info {
        margin: 0 auto;
        max-width: 500px;
    }
}

@media(min-width: 700px) {
    body {
        height: 100%;
    }

    #wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;

        height: 90vh;
        max-width: 1200px;
        max-height: 80%;
    }

    .info {
        text-align: start;
        margin-left: 120px;
    }

    .info h2 {
        width: 100%;
        font-size: 3rem;
        line-height: 5rem;

    }

    .info p {
        font-size: 1.1em;
    }

    form {
        margin-bottom: 0;
    }

    .form-info{
        margin: 1vh 0;
        max-width: 500px;
    }
}